@import url("https://fonts.googleapis.com/css2?family=Cardo&display=swap");

body {
  font-family: "Cardo", serif;
}

.hero #job-title {
  margin-bottom: 4px;
}

.hero p {
  font-size: 1.5rem;
  letter-spacing: 1px;
}


.hero button:hover {
  border: none;
  color: #fff !important;
  background-position: right center;
}
a:hover {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
.hero button {
  font-size: 14px;
  color: #fff;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-transform: capitalize;
  background-size: 200% auto;
}
.hero button {
  background-image: linear-gradient(to left, #ab7636 0%, #d7af7e 49%, #ab7636 100%);
}

form{ 
    margin-top: 80px;
}

option{
  font-family: 'Cardo', serif;
  font-size: 2rem;
}

#profilepic{
  width: 30vw;
  height: 30vw;
  /* min-width: 80px; */
}

/* remove image when entering mobile mode */
@media screen and (max-width: 600px) {
  #profilepic {
    display: none;
  }
}

.hero{
  display : flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}

.hero p{
  min-width: 30vw;
}

button >a{
  color: #fff;
  text-decoration: none;
}

button >a:hover{
  color: #fff;
  text-decoration: none;
}

button >a:selected{
  color: #fff;
  text-decoration: none;
}


.social_icon {
  width: 18px;
  padding: 10px;
}

.social-wrapper {
  width:fit-content;
}

footer {
  background-color: #152a43;
  padding: 4px 0 0 0;
}

footer * {
  color: #f9f9ff;
}

footer a{
  font-size: 0;
}

.fa-solid{
  color: #0000f3;
  width: 60px;
}

.banner{
  max-width: 1000px;
  padding-top: 20px;
  flex-wrap: wrap;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner button{
  height: 22px;;  
}
.icon_{
  width: 20px;
}
h6{
  text-transform: none;
    color: #312d29;
    text-decoration: none;

}

@media screen and (min-width: 900px) {
  h6 {
        text-decoration: underline;
  }
}

.nobg{
  border: none;
}

.skewed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: #f5efea;
  z-index: -1;
  transform: skewY(11deg);
  transform-origin: top right;
}